<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @livro.nome %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @livro.autor %>
</p>

<p>
  <strong>Datapublicacao:</strong>
  <%= @livro.dataPublicacao %>
</p>

<p>
  <strong>Dataemprestimo:</strong>
  <%= @livro.dataEmprestimo %>
</p>

<p>
  <strong>Dataentrega:</strong>
  <%= @livro.dataEntrega %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @livro.usuario_id %>
</p>

<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>
